<div class="new_edit_form">
  <%= form_for @metric do |f|%>
    <fieldset class="new_edit_form">
      <legend class="new_edit_form"><%= @purpose %> a Metric</legend>
      <div>
        <%= f.label :name %>
        <%= f.text_field :name %>
        <%= f.label :description %>
        <%= f.text_field :description %>
      </div>
      <div id="snippet">
        <%= f.label :snippet %>
        <%= f.text_area :snippet %>
        <%= f.submit %>
      </div>
    </fieldset>
  <% end %>
</div>