<div id="content">
  <h1 class="page-title">Metrics</h1>

  <%= render 'form' %>


  <div id="listing">
    <% @out_metrics.each do |item| %>
      <div class="heading hidden" id="metric_<%= item.id%>">
        <ul class="inline">
          <li> <%= link_to "Edit", edit_metric_path(item), :class => "edit" %> </li>
          <li> <%= link_to "Delete", item, :method => :delete, :class => "edit" %> </li>
        </ul>
        <p><%= item.name %></p>
      </div>
      <div class="content"> 
        <p>
          <%= item.description %>
        </p>
        <%= raw item['snippet'] %>
      </div>
    <% end %>
  </div>
</div