<h2>Metrics</h2>

<%= render 'form' %>


<div class="listing">
  <% @out_metrics.each do |item| %>
    <p class="heading" id="metric_<%= item.id%>">
      <img src="http://www.psc.nd.gov/images/more-info.png">
      <b><%= item.name %></b>
      <%= link_to "Edit", edit_metric_path(item), :id => "edit" %> 
      <%= link_to "Delete", item, :method => :delete, :id => "edit" %> 
    </p>
    <div class="content"> 
      <p>
        <%= item.description %>
      </p>
      <%= raw item['snippet'] %>
    </div>
  <% end %>
</div>
