<h2>Portals</h2>

<%= render 'form' %>


<div class="listing">
  <% @out_portals.each do |item| %>
    <p class="heading" id="portal_<%= item.id%>">
      <img src="http://www.psc.nd.gov/images/more-info.png">
      <b> <%= item.name %> </b>
      <%= link_to "View", portal_path(item), :id => "edit" %>
      <%= link_to "Edit", edit_portal_path(item), :id => "edit" %> 
      <%= link_to "Add/Remove Metrics", portal_portlets_path(item), :id => "edit" %>
      <%= link_to "Delete", item, :method => :delete, :id => "edit"  %>
    </p>
    <div class="content"> <%= item.description %> </div> 
  <% end %>
</div>
