<h2>Portals</h2>

<%= render 'form' %>


<table>
  <% @out_portals.each do |item| %>
    <tr id="portal_<%= item.id%>">
      <td> <%= link_to item.name, portal_path(item) %> </td>
      <td> <%= item.description %> </td>
      <td> <%= link_to "Edit", edit_portal_path(item) %> </td>
      <td> <%= link_to "Delete", item, :method => :delete  %> </td>
  </tr>
  <% end %>
</ul>
