<div id="content">
  <h1 class="page-title"> <%= @portal[:name] %> </h1>

  <% @metrics.each do |m| %>
  <div id="listing">
      <div class="portlet hidden">
        <ul class="inline">
          <li> 
            <%= form_for m, :url => portal_portlet_up_path(@portal.id, m['id']), :action => "post" do |f| %>
              <%= f.submit "Up", :id => "text-button" %>
            <% end %>
          </li>
          <li>
            <%= form_for m, :url => portal_portlet_down_path(@portal.id, m['id']), :action => "post" do |f| %>
              <%= f.submit "Down", :id => "text-button" %>
            <% end %>
          </li>
        </ul>
        <p> <%= m['name'] %> </p>  
      </div>
      <div class="metric">
        <%= raw m['snippet'] %>
      </div>
    </div>
  <% end %>
</div>